:root {
  --black: rgb(12, 12, 12);
  --white: rgba(255, 255, 255, 0.849);
  --red: #720312;
  --neon: #39FF14;
  --purple-1: rgb(117, 49, 138); 
  --purple-2: rgb(219, 197, 224);
  --grey: rgba(179, 175, 175, 0.986);
}

html {
  box-sizing: border-box;
}

.container-fluid {
  padding: 0px;
}

body {
  background: var(--black);
  color: var(--white);
}

header {
  background: var(--black);
  border-bottom: 2px solid var(--neon);
}

.nav-link {
  color: var(--white);
  transition: 0.5s ease;
}

.nav-link:focus,
.nav-link:hover {
  color: var(--neon);
  transform: scale(1.05);
}

section {
  padding: 10px;
}

p {
  font-style: italic;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

a:hover {
  text-shadow: 1px 1px 0.5px var(--neon);
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  animation: flipInX;
  animation-duration: 2s;
}

.laptop-div {
  font-size: 5.5em;
}

.projects-section {
  min-height: 80vh;
}

.projects {
  padding: 2em;
}

.project-section-header {
  text-align: center;
  margin: 1em 0;
}

.project-div {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects small {
  font-size: 0.5em;
}

.projects p {
  font-size: 0.9em;
}

h4 {
  margin: 0.5em 0;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  animation: bounceIn;
  animation-duration: 2s;
}

.contact-links {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-details {
  padding: 10px;
  text-decoration: none;
  color: var(--white);
  font-size: 1.4rem;
  text-shadow: 1px 1px 0.5px var(--neon);
}

.contact-details:hover {
  text-decoration: none;
  color: var(--neon);
}

.contact-section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.contact-section-header > h3 {
  text-align: center;
}

.contact-section-header > p {
  color: var(--white);
}

footer {
  border-top: 2px solid var(--neon);
  padding: 10px;
  display: flex;
  justify-content: center;
  height: 10vh;
  align-items: center;
}

footer > span > i {
  color: var(--white);
}

.images {
  display: block;
  border-radius: 0.5em;
  margin: auto;
  width: 350px;
}

.carousel-caption {
  position: unset !important;
}

.carousel-indicators {
  bottom: -20px;
}

.tech-stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1.25em 0;
}

.tech-logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 2em;
}

.logo-div {
  width: 75px;
  height: 75px;
  display: flex;
}

@media only screen and (max-width: 420px) {
  .images {
    width: 250px;
    height: 250px;
  }
}

@media only screen and (max-width: 720px) {
  .projects {
    flex-direction: column;
  }

  .contact-section-header {
    width: 100%;
  }

  .tech-logos {
    padding: 1em;
  }
}
