:root {
  --black: rgb(12, 12, 12);
  --white: rgba(255, 255, 255, 0.849);
  --red: #720312;
}

html {
  box-sizing: border-box;
}

.container-fluid {
  padding: 0px;
}

body {
  background-color: var(--black);
  color: var(--white);
}

header {
  background-color: var(--red);
}

.nav-link {
  color: var(--white);
}

.nav-link:focus,
.nav-link:hover {
  color: var(--black);
  transform: scale(1.05);
}

section {
  padding: 10px;
}

p {
  font-style: italic;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--red);
}

a:hover {
  color: var(--white);
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  animation: flipInX;
  animation-duration: 1.5s;
}

.projects-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.project-section-header {
  text-align: center;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-top: 1px solid var(--red);
  border-bottom: 1px solid var(--red);
  animation: slideInRight;
  animation-duration: 1s;
}

.right {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-top: 1px solid var(--red);
  border-bottom: 1px solid var(--red);
  animation: slideInLeft;
  animation-duration: 1s;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  animation: bounceIn;
  animation-duration: 2s;
}

.contact-links {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-details {
  padding: 10px;
  text-decoration: none;
  color: var(--white);
  font-size: 1.4rem;
  text-shadow: 3px 3px 1.5px var(--red);
}

.contact-details:hover {
  text-decoration: none;
  color: var(--white);
}

.contact-section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-section-header > h3 {
  text-align: center;
}

.contact-section-header > p {
  color: var(--red);
}

footer {
  border-top: 2px solid var(--red);
  padding: 10px;
  display: flex;
  justify-content: center;
}

footer > span > i {
  color: var(--red);
}

.images {
  display: block;
}

@media only screen and (max-width: 420px) {
  .images {
    width: 150px;
    height: 150px;
  }
}
